@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Zarządzanie blogiem</h1>
<a class="btn btn-primary" asp-action="AddForm" asp-controller="Blog">Dodaj wpis</a>
<a class="btn btn-primary" asp-action="List" asp-controller="Blog">Zobacz listę wpisów</a>